<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; MII Media @DateTime.Now.Year
        @*<a href="mailto:saurabhbiswas1600@gmail.com">saurabhbiswas1600@gmail.com</a>
        *@
        @*<cutom-email my-email="saurabhbiswas1600@gmail.com"></cutom-email>*@
    </div>
</footer>