@model MII_Media.Models.ForgotPasswordModel

@{
    Layout = null;
    ViewData["Title"] = "ForgotPassword";
}

<environment include="Development">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/NewStyle.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    @*<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@

    <link rel="stylesheet"
          href="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          integrity=""
          crossorigin="anonymous">


    <link href="~/css/site.min.css" rel="stylesheet" />
</environment>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container">

    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        If you are registered with us, <br />
                        We have sent an email on your registered email id
                    </p>
                </div>
                <div>
                    <label for="name" class="control-label">OTP </label>
                    <input type="text" name="name" value="" class="form-control" />
                    <a asp-action="verifyOTP" asp-controller="Account" class="btn btn-primary" >Verify OTP
                    </a>
                </div>
            }
            else
            {
                <p>Forgot your password? No worries you can reset it easily.</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            }
            <div>
                <p>Back to  <a asp-action="Login" asp-controller="Account">Login</a></p>
            </div>
        </div>

    </div>




</div>